@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat&family=Poppins&family=Rubik+Iso&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.fa{
    color:#fff;
}
.icon{
    width: 100px;
    margin-right: 80px;
    margin-left: -100px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.card-title1{
    color:green;
}
.main{
    color:Coral;
    
}
.main-button{
    margin-top: 30%;
    background: transparent;
}
button.btn:hover{
    border:1px solid #fff;
   background:transparent;
   color:coral;
   font-weight:500;
   font-family: 'Montserrat', sans-serif;
   
   }

 a.btn:hover{
 border:1px solid #838181;
background:#fff;
color:rgb(247, 73, 10);
font-weight:600;
font-family: 'Montserrat', sans-serif;

}
.main-title{
    font-family: 'Tilt Prism', cursive;
    font-weight: 600;
}
/* main index styling start */
.main-index{
    background-image:url('bg-Top.svg');
    background-position: bottom-center;
    background-size:cover;
    background-attachment: fixed;
    position: relative;
}


/* main index styling end>