*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html{
    font-size: 10px;
    scroll-behavior:smooth;
}
/*index page start*/
.index{
    background:url('https://c0.wallpaperflare.com/preview/1005/624/60/south-africa-claremont-arderne-gardens-bird.jpg');
    position: relative;
    background-position:top center;
    background-size:cover;
}
/*index page end*/
  
/*titles start*/
.front-title{
   font-size: 12em;
   color: #fff;
   font-family: cursive;
}
.second-title{
    font-size: 5em;
    color:rgb(199, 227, 243);
}
.thired-title{
    font-size: 3em;
    margin-top:5%;
    color:rgb(187, 228, 245);
}
/*titles end*/

/*buttons start*/
.btn1{
    text-align: center;
    justify-content: center;
    margin-left:40%;
    margin-top: 6%;
    margin-bottom: 10%;
    padding: 30px;
    
}
.social{
    font-size: 16px;
    color:gray;
}
.fa-arrow-right{
    font-size: 10px;
}
 .fa-brands{
   
    text-align: none; 
}

 .fa-brands:hover{
    color:rgb(248, 100, 100);
}
/*nav links start*/
.navbar-nav .nav-link{
    color:coral;
    font-size:14px;
}
.navbar-nav .nav-link:hover{
    border-bottom: 2px solid coral;
}
/*nav links end*/
/* button end*/
/*Home body start*/
.slide{
    margin-top: -18%;

}
.carousel-item{
    margin-top: 8rem;
    margin-left: 3rem;
}
.carousel-item p{
    color:rgb(135, 216, 135);
    margin-left: 10rem;
    margin-top: 5rem;
}
a .btn .btn2{
    padding: 20rem;
    
}
/*Home body end*/
/*cards start*/
span{
    color: rgb(25, 92, 238);
    font-weight: 600;
}
.title{
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}
.card-title{
    font-size: 16px;
}
.card-text{
    font-size: 14px;
}
/*cards endt*/
.img{
    border-radius: 50%;
}
.contact{
    margin: 50px 30%;
    width:50%;
   position: relative;
}
.fab{
    cursor: pointer;
}
.fab:hover{
    color:coral;
}